.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121212;
  width: 100%;
}

.navbar .letf-btns{
  /* width: 28%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar .letf-btns h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .letf-btns form {
  display: flex;
  /* margin-left: 1rem; */
  /* gap: 0.5rem; */
}

.navbar input {
  width: 300px;
  padding: .2rem .8rem;
  border-radius: 0px 4px 4px 0;
  border: none;
}

.navbar .letf-btns form button{
  width: fit-content;
  background-color: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 4px 0 0 4px;
  color: black;
  padding: .3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .4s;
}

.navbar .letf-btns form button:hover{
  background-color: transparent;
  color: #f7d354;
}

.navbar #logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  transition: .4s;
  background-color: #f7d354;
}

.navbar .right-btns{
  /* width: 20%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar .right-btns #logoutBtn:hover{
  background-color: transparent;
  color: #f7d354;
  border: 1px solid #f7d354;
}