.profileManager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profiles {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  height: 200px;
  width: fit-content;
}