.profileManager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profiles {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  height: 200px;
  width: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
}

.profileManager > button {
  height: 0;
  width: 0;
  background-color: none;
  padding: 0;
  margin-top: 60px;
}

