.video-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  color: gray;
}

.video-container .icons{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 35%; */
  /* margin-left: 42%; */
  width: 100%;
}

.video-container .icons h1{
  cursor: pointer;
}

.video-container .movie-title{
  display: flex;
  flex: 1;
}

.video-container .movie-title .title{
  margin-left: 1rem;
}

.video-container .movie-title .arrow-title{
  cursor: pointer;
}

.video-container .icons .play-icons{
  display: flex;
  justify-content: space-between;
  width: 12%;
}

.video-container .icons .other-icons{
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 8%;
  /* margin-left: 78%; */
}

.video-container .timeline{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.video-container .timeline hr{
  width: 96%;
  height: 1%;
  margin-top: .5rem;
}
